{% block sw_cms_element_emzimageelement_config %}
    <div class="sw-cms-el-preview-emzimageelement">
        <sw-cms-mapping-field valueTypes="entity"
                              entity="media"
                              v-model="element.config.media"
                              class="sw-cms-el-config-emzimageelement_teaser-image">

            <sw-media-upload-v2 variant="regular"
                                :label="$tc('sw-cms.elements.emzimageelement.labelTeaserImage')"
                                :uploadTag="uploadTag"
                                :source="previewSource"
                                :allowMultiSelect="false"
                                :defaultFolder="cmsPageState.pageEntityName"
                                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                @media-upload-sidebar-open="onOpenMediaModal"
                                @media-upload-remove-image="onImageRemove">
            </sw-media-upload-v2>

            <div class="sw-cms-el-config-emzimageelement__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                <img :src="demoValue.url" v-if="demoValue.url">
                <sw-alert class="sw-cms-el-config-emzimageelement__preview-info" variant="info" v-else>
                    {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                </sw-alert>
            </div>
        </sw-cms-mapping-field>

        <sw-upload-listener
            :uploadTag="uploadTag"
            autoUpload
            @media-upload-finish="onImageUpload">
        </sw-upload-listener>

        <sw-media-modal-v2
            variant="regular"
            v-if="mediaModalIsOpen"
            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
            :entityContext="cmsPageState.entityName"
            :allowMultiSelect="false"
            :initialFolderId="cmsPageState.defaultMediaFolderId"
            @media-upload-remove-image="onImageRemove"
            @media-modal-selection-change="onSelectionChanges"
            @modal-close="onCloseModal">
        </sw-media-modal-v2>
    </div>
{% endblock %}
