{% block sw_cms_element_emzimageelement %}
    <div class="sw-cms-el-emzimageelement">
        {% block sw_cms_element_emzimageelement_content %}
            <img
                :src="mediaUrl"
                alt=""
            >
        {% endblock %}
    </div>
{% endblock %}
