{% block sw_cms_element_emzimageelement_preview %}
    <div class="sw-cms-el-preview-emzimageelement">
        <img :src="'/EmzPlatformZigarrenversandTheme-main/static/img/cms/preview_emzimagetexteditor_element.png' | asset">
    </div>
{% endblock %}

