.cms-element-emztextimage-element {
    position: relative; 
    margin-bottom: 1.25rem; 
    display: none;
    
    &.emz--design2 {
        display: block;
        margin: 0;
    }
}

.emz-dynamic-blog-grid {
    .cms-block-container {
        padding: 0;
    }

    .cms-block {
        .cms-block-container {
            .cms-block-container-row {
                flex-direction: column;
            }
        }
    }
}

.cms-block-emzimagetextblock {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.emz--design2 {
    .emztextelement--text {
        color: #35383F;
        height: auto;
        top: auto;
        bottom: 1.25rem;
        width: auto;
        background-color: #F7F7F7;
        border-radius: .3125rem;
        margin: 0 1.25rem;
        padding: .5625rem .625rem;
        right: 0;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #F6A14D;
            font-size: 1.875rem;
            font-weight: 300;
            margin-bottom: 0;
            line-height: 3.125rem;
        }

        .btn-action-primary {
            color: white;
            position: absolute;
            top: 0;
            width: 2.625rem;
            height: 2.625rem;
            justify-content: center;
            align-items: center;
            bottom: 0;
            margin: auto;
            right: .625rem;
            background-color: #F6A14D;
            
            .icon {
                color: $sw-headline-color;

                svg {
                    top: .0625rem;
                }
            }
        }
    }
}


.emztextelement--text {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    padding: 1.875rem .9375rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6  {
        color: #F6A14D;
        font-weight: 600;
        line-height: 1.875rem;
        font-size: 1.875rem;
    }

    .btn-action {
        color: white;
        background-color: #F6A14D;
        width: 2.5625rem;
        height: 2.5625rem;
        line-height: 2.5625rem;
        text-align: center;
        padding: 0;

        .icon {
            width: 1.25rem;
           height: 1.25rem;
           color: $sw-headline-color;

            svg {
                top: .1875rem;
            }
        }
    }
}


@include media-breakpoint-up(md) { 
    .cms-block-emzimagetextblock {
        margin: 0;
    }

    .emz--design2 {
        .emztextelement--text {
            bottom: 1.25rem;
            width: auto;
            margin: 0 .625rem;
            padding: 1.125rem .625rem;
            background-color: $sw-headline-color;
            right: 0;
    
            .btn-action-primary {
                display: flex;
                width: 2.625rem;
                height: 2.625rem;
                margin: auto;
                right: 1.25rem;

                .icon {
                    svg {
                        top: 0;
                    }
                }
            }
        }
    }
    
    .emztextelement--text {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 1.25rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .emz-dynamic-blog-grid {
        .cms-block {
            .cms-block-container {
                .cms-block-container-row {
                    flex-direction: row;
                }
            }
        }
    }
    
    .emz--design2 {
        .emztextelement--text {
            bottom: 1.25rem;
            padding: 1.125rem .625rem;
            margin: 0 1.875rem;
            right: 0;
    
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
                font-size: 2.1875rem;
                line-height: 3.125rem;
            }
    
            .btn-action-primary {
                width: 3.75rem;
                height: 3.75rem;
                margin: auto;
                right: -1.25rem;

                .icon {
                    width: 1.25rem;
                    height: 1.25rem;

                    svg {
                        top: .0625rem;
                    }
                }
            }
        }
    }
    .cms-element-emztextimage-element {
        display: block;
    }

    .emztextelement--text {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 1.875rem;
        }
    }
}


@include media-breakpoint-up(xl) { 
    .emz--design2 {
        .emztextelement--text {
            bottom: 1.25rem;
            padding: 1.125rem 1.5625rem;
            margin: 0 1.875rem;
            right: 0;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
                font-size: 3.125rem;
            }
        }
    }
}