{% block sw_cms_block_emzimagetextblock_row %}
<div class="sw-cms-block-emzimagetextblock-row">
    <div class="sw-cms-block-emzimagetextblock-row__left">
        <slot name="left-image"></slot>
        <slot name="left-text"></slot>
    </div>

    <div class="sw-cms-block-emzimagetextblock-row__right">
        <slot name="right-image"></slot>
        <slot name="right-text"></slot>
    </div>
{% endblock %}